.title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  .about & {
    max-width: 310px;
    margin-bottom: 20px;
  }
}

.title-theme-dark {
  color: #ffffff;
}

.title-theme-light {
  color: #303030;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 42px;
    line-height: 1.17;

    .about & {
      max-width: unset;
    }
  }
}

// .title {
//   font-family: var(--secondary-font);
//   font-weight: 700;
//   font-size: 42px;
//   line-height: 1.17;
//   letter-spacing: 0.05em;

//   .about &,
//   .advantages & {
//     margin-bottom: 20px;
//   }

//   .masters &,
//   .services & {
//     margin-bottom: 44px;
//   }
// }
